---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: demoes.apps.my.domain
spec:
  group: apps.my.domain
  names:
    kind: Demo
    listKind: DemoList
    plural: demoes
    singular: demo
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Demo is the Schema for the demos API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DemoSpec defines the desired state of Demo
            properties:
              message:
                description: Message is a custom message to be displayed
                type: string
              replicas:
                description: Replicas is the number of desired replicas
                format: int32
                type: integer
            type: object
          status:
            description: DemoStatus defines the observed state of Demo
            properties:
              availableReplicas:
                description: AvailableReplicas is the number of available replicas
                format: int32
                type: integer
              lastUpdated:
                description: LastUpdated is the last time the status was updated
                format: date-time
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
